#!/usr/bin/env ruby

compile "/**/*.scss" do
    filter :sass, syntax: :scss
    write item.identifier.without_ext + ".css"
end

compile "/**/*.md" do
    filter :erb
    filter :kramdown
    layout "/default.*"
    filter :tidy
    write item.identifier.without_ext + ".html"
end

compile "/**/*.slim" do
    filter :slim
    layout "/default.*"
    filter :tidy
    write item.identifier.without_ext + ".html"
end

route "/videos/*" do
    nil
end

passthrough "/**/*"

layout "/**/*", :slim
