---
title: Quiz
subtitle: An Open Source project for creating visual timelines and integrating them into video players
---

.spacer

.timelens-standalone data-id="nemo"
p.solution Finding Nemo (2003)

.timelens-standalone data-id="matrix"
p.solution The Matrix (1999)

.timelens-standalone data-id="lion-king"
p.solution The Lion King (1994)

.timelens-standalone data-id="star-wars"
p.solution Star Wars (1977)

.timelens-standalone data-id="2001"
p.solution 2001: A Space Odyssey (1968)
