$spacing: 1.5em;
$grey: #222;
$blue: #57a3e8;
$darkblue: #1763a8;

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
    color: $blue;
    transition: all 0.2s ease;
}

a:hover {
    color: $grey;
}

body {
    margin: 0 auto;
    padding: $spacing;
    max-width: 55em;
    min-width: 20em;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6em;
    color: black;
    font-size: 1.1em;
    margin-top: $spacing;
    margin-bottom: 5 * $spacing;
    overflow-x: hidden;
}

img.logo {
    width: 100%;
    max-width: 20em;
    margin: 0 auto;
    display: block;
    margin-bottom: $spacing;
}

img.notes {
    width: 100%;
    margin-top: 5px;
    margin-bottom: $spacing;
}

img.avatar {
    width: 8em;
    float: left;
    margin-right: $spacing;
    margin-top: 0.6em;
}

p,
ul,
ol,
pre {
    margin-bottom: 1em;
}

li {
    margin-left: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#supporters {
    margin-top: $spacing;

    a {
        display: inline-block;
        margin-right: 3 * $spacing;
        margin-bottom: $spacing;
    }

    img {
        height: 8em;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.2s ease;
    }

    a:hover img {
        transform: scale(1.1);
    }
}

img {
    max-width: 100%;
}

form {
    margin-bottom: $spacing;
}

button,
input,
.button {
    color: $blue;
    background: transparent;
    border: 2px solid $blue;
    border-radius: 6px;
    padding: 0.5em;
    transition: all 0.2s ease;
    margin-right: 0.5 * $spacing;
    display: inline-block;
}

button:focus,
input:focus,
.button:focus {
    outline: none;
}

a.button:hover {
    color: white;
}

input {
    color: black;
    border-color: #aaa;
    margin-right: 0.5 * $spacing;
}

button,
.button {
    background-color: $blue;
    color: white;
    cursor: pointer;
}

button:hover,
.button:hover {
    border-color: $darkblue;
    background-color: $darkblue;
}

code {
    font-size: 0.9em;
}

code,
pre {
    padding: 0.4em 0.6em;
    background: #f6f8fa;
}

pre {
    white-space: pre-wrap;
}

pre,
pre code {
    background: black;
    color: white;
    border-radius: 10px;
}

pre code {
    padding: 0;
    display: block;
}

.file {
    position: relative;
    margin-bottom: 1em;

    span {
        color: white;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.7em;
        padding: 0 0.5em;
    }

    pre,
    code {
        color: black;
        background: #f6f8fa;
        border-radius: 0;
    }
}

img {
    display: block;
}

#nav {
    font-size: 1.5em;
    list-style: none;
    text-align: center;
    li {
        display: inline;
    }
    li.active {
        font-weight: bold;
    }
    a {
        color: $grey;
    }
}

/* Timelens styles */

.timelens-standalone img {
    border: black solid;
    border-width: 10px 0 10px 0;
    border-radius: 10px;
}

.frame {
    position: relative;
    padding-top: 56.25%;
    margin-top: 3em;
}

.frame + .timelens img {
    cursor: pointer;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.demo,
.mediaelement {
    margin-bottom: 1em;
}

.solution {
    font-size: 1.5em;
    color: #ccc;
    text-align: center;
    background: #ccc;
    padding: 0.5em;
    margin: 1em 1em 10em 1em;
}

.solution::selection {
    color: white;
    background: black;
}

.spacer {
    margin-top: 5em;
}
