---
title: About
---

h2 How can I get help? How can I contribute?

p We use GitHub for all forms of discussion. If you find bugs, need help, or have any suggestions, please <a href="https://github.com/timelens/timelens/issues/new">create a new issue</a> in the issue tracker.

p If you absolutely need to keep something private, you can <a href="https://blinry.org/about/">contact blinry</a> by mail.

h2 What is Timelens all about?

p First, visual timelines are pretty!

p And second, they are useful: When you integrate them into actual video players, you can use them for navigation! With a little practise, you can differentiate scenes, and skip to parts that interest you. In a talk recording, you can see when the slides change, or where the Q&A begins. We think this makes video navigation <strong>more efficient, precise, and active</strong>.

h2 Who's behind this?

img.avatar src="/assets/images/avatar.png"

p The Timelens project (formerly known as <i>nordlicht</i>) was started by <a href="https://blinry.org">blinry</a>, a computer scientist, programmer, and designer from Germany. They are enthusiastic about free licenses, food, and minimalism, and value autonomy, creativity, and curiosity. They has attended a scientific workshop on Origami in the Caribbean, backpacked through Japan, and is drawing <a href="https://idea-instructions.com">algorithm assembly instructions</a>.

p When they stumbled over the <a href="http://moviebarcode.tumblr.com">moviebarcode Tumblr</a> in 2011, they immediately wanted two things: An efficient tool for generating these "visual timelines" himself. And a really good integration into video players, so they could be used for navigation!

p Supported by the Prototype Fund, they could make that vision a reality!

h2 Supporters

#supporters
    a href="https://www.bmbf.de"
        img src="/assets/images/bmbf.svg"
    a href="https://prototypefund.de"
        img src="/assets/images/prototypefund.svg"
    a href="https://okfn.de"
        img src="/assets/images/okfde.svg"
