---
title: YouTube
---

p So, after watching <a href="https://blinry.org/timelens-talk/">blinry's talk</a> about Timelens at MRMCD 2018, <a href="https://github.com/fkloft">Felix</a> made a userscript for YouTube, which integrates into browsers really easily!

p It makes use of the thumbnails which YouTube generates for most videos. Because there are not many thumbnails for short videos, the visual timeline will look blurry for those. Also, some videos do not have thumbnails at all, so this userscript won't work there.

h2 What does it look like?

p Here's a screenshot:

img src="/assets/images/youtube-screenshot.png" alt="Example screenshot"

h2 How can I install it?

ol
    li Install a userscript manager for your browser, like <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey</a> for Firefox or Tampermonkey for <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Chrome</a>, or <a href="https://safari-extensions.apple.com/details/?id=net.tampermonkey.safari-G3XV72R5TC">Safari</a>.
    li Open the raw <a href="https://github.com/timelens/timelens-youtube/raw/master/timelens-youtube.user.js">timelens-youtube.user.js</a> file. Your plugin will offer to install it.
    li Now, whenever you're browsing YouTube, you should get a Timelens interface!

p This is a first step in doing a "proper" Timelens integration, but this is so much better than nothing! And if you run your own website, you can properly integrate it with Timelens!

p
    a.button href="/installation/" Learn how!
